___

<a href='https://viqasys.com/wp-content/uploads/2021/07/ns1.png'><img src='https://viqasys.com/wp-content/uploads/2021/07/ns1.png'/></a>
___
<center><em>Content Copyright VIQASYS INNOVATIONS PVT LTD.</em></center>

# Assignment 3

## Question 1
Write a Python program to create a list with the following elements: 4, 8, 9, 'apple', 'banana', 'cherry'. Print the list.

In [1]:
my_list = [4, 8, 9, 'apple', 'banana', 'cherry']

print("List:", my_list)

List: [4, 8, 9, 'apple', 'banana', 'cherry']

## Question 2
Given the list [10, 20, 30, 40, 50], write a Python script to print the second and fourth elements.

In [2]:
my_list = [10, 20, 30, 40, 50]

print("Second element:", my_list[1])
print("Fourth element:", my_list[3])

Second element: 20
Fourth element: 40

## Question 3
Create a list of the first 10 even numbers. Write a Python program to print the first half of the list using slicing.

In [4]:
even_numbers = [2 * i for i in range(1, 11)]
print("Full list ",even_numbers)

first_half = even_numbers[:len(even_numbers)//2]
print("First half of the list:", first_half)

Full list  [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
First half of the list: [2, 4, 6, 8, 10]

## Question 4
Here is a list: ["red", "green", "blue"]. Change the element "blue" to "yellow" and print the updated list.

In [6]:
my_list = ["red", "green", "blue"]

print("before Updation list:", my_list)

my_list[2] = "yellow"

print("Updated list:", my_list)

before Updation list: ['red', 'green', 'blue']
Updated list: ['red', 'green', 'yellow']

## Question 5
Start with an empty list. Write a Python program to append 'apple', 'banana', and 'cherry' to the list using separate append calls, then print the list.

In [7]:
my_list = []
print(my_list)

my_list.append('apple')
my_list.append('banana')
my_list.append('cherry')

# Print the list
print("List after appending elements:", my_list)

[]
List after appending elements: ['apple', 'banana', 'cherry']

## Question 6
Given two lists, [1, 2, 3] and [4, 5, 6], write a Python script that extends the first list with the second list and prints the updated list.

In [8]:
first_list = [1, 2, 3]
second_list = [4, 5, 6]

print(first_list)
print(second_list)

first_list.extend(second_list)


print("Updated list:", first_list)

[1, 2, 3]
[4, 5, 6]
Updated list: [1, 2, 3, 4, 5, 6]

## Question 7
Here is a list: [1, 2, 4]. Insert the number 3 at the appropriate position to maintain sorted order and print the list.

In [10]:
my_list = [1, 2, 4]
number_to_insert = 3

print(my_list)
print('number to be inserted ',number_to_insert)
index_to_insert = 0
for i in range(len(my_list)):
    if my_list[i] < number_to_insert:
        index_to_insert += 1
    else:
        break

my_list.insert(index_to_insert, number_to_insert)

print("Updated list:", my_list)

[1, 2, 4]
number to be inserted  3
Updated list: [1, 2, 3, 4]

## Question 8
From the list [1, 2, 3, 4, 5, 3], write a Python program to remove the first occurrence of the number 3.

In [11]:
my_list = [1, 2, 3, 4, 5, 3]
print('list ',my_list)

index_to_remove = my_list.index(3)

print('Remove the first occurrence of the number 3') 

del my_list[index_to_remove]

# Print the updated list
print("Updated list after removing the first occurrence of 3:", my_list)

list  [1, 2, 3, 4, 5, 3]
Remove the first occurrence of the number 3
Updated list after removing the first occurrence of 3: [1, 2, 4, 5, 3]

## Question 9
Using the list [10, 20, 30, 40, 50], write a Python script to remove and print the last element.

In [14]:
my_list = [10, 20, 30, 40, 50]

print('my list ',my_list)
      
last_element = my_list.pop()

print("Last element removed:", last_element)
print("Updated list:", my_list)

my list  [10, 20, 30, 40, 50]
Last element removed: 50
Updated list: [10, 20, 30, 40]

## Question 10
Take the list [1, 2, 3, 4, 5] and write a Python script that empties the list and prints it.

In [12]:
my_list = [1, 2, 3, 4, 5]
print('list',my_list)

my_list.clear()

print("Empty list:", my_list)

list [1, 2, 3, 4, 5]
Empty list: []

## Question 11
Write a Python program to find the number of elements in the list [1, 2, 3, 4, 5, 6, 7, 8, 9].

In [15]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]

num_elements = len(my_list)

print("Number of elements in the list:", num_elements)

Number of elements in the list: 9

## Question 12
Given the list ['apple', 'banana', 'apple', 'cherry'], count and print how many times 'apple' appears in the list.

In [16]:
my_list = ['apple', 'banana', 'apple', 'cherry']

print('list',my_list)

apple_count = my_list.count('apple')

print("Number of times 'apple' appears in the list:", apple_count)

list ['apple', 'banana', 'apple', 'cherry']
Number of times 'apple' appears in the list: 2

## Question 13
Create a list of the words ['banana', 'apple', 'cherry']. Write a Python program to sort the list alphabetically and print it.

In [17]:
words_list = ['banana', 'apple', 'cherry']

print('Before shorting ',words_list)

words_list.sort()

print("Sorted list of words:", words_list)

Before shorting  ['banana', 'apple', 'cherry']
Sorted list of words: ['apple', 'banana', 'cherry']

## Question 14
Given the list [1, 2, 3, 4, 5], write a script that reverses the list and prints it.

In [18]:
my_list = [1, 2, 3, 4, 5]

print('Before reverse list',my_list)
my_list.reverse()

print("Reversed list:", my_list)

Before reverse list [1, 2, 3, 4, 5]
Reversed list: [5, 4, 3, 2, 1]

## Question 15
Check if the value 'cat' exists in the list ['dog', 'rabbit', 'horse'] and print the result as a boolean value.

In [19]:
my_list = ['dog', 'rabbit', 'horse']
value_to_check = 'cat'
print('list= ',my_list)
print('value_to_check=',value_to_check)

exists = value_to_check in my_list

print("Result:", exists)

list=  ['dog', 'rabbit', 'horse']
value_to_check= cat
Result: False

## Question 16
Copy the contents of list a = [1, 2, 3] into a new list b and print both lists.

In [20]:
a = [1, 2, 3]

b = list(a)

print("List a:", a)
print("List b:", b)

List a: [1, 2, 3]
List b: [1, 2, 3]

## Question 17
Using list comprehension, create a list of squares for numbers from 1 to 10 and print the list.

In [21]:
squares = [x ** 2 for x in range(1, 11)]

print("List of squares for numbers from 1 to 10:", squares)

List of squares for numbers from 1 to 10: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## Question 18
Here is a nested list: [[1, 2], [3, 4], [5, 6]]. Access and print the second element of the first nested list.

In [22]:
nested_list = [[1, 2], [3, 4], [5, 6]]

second_element = nested_list[0][1]

print("Second element of the first nested list:", second_element)

Second element of the first nested list: 2

## Question 19
Concatenate the lists [1, 2, 3] and [4, 5, 6] into a single list and print the result.

In [24]:

list1 = [1, 2, 3]
list2 = [4, 5, 6]

concatenated_list = list1 + list2
print('list 1 =',list1)
print('list 2 =',list2)
print("Concatenated list:", concatenated_list)

list 1 = [1, 2, 3]
list 2 = [4, 5, 6]
Concatenated list: [1, 2, 3, 4, 5, 6]

## Question 20
Using a list as a stack, push the elements 10, 20, 30, one by one, and then pop each one in LIFO order, printing each popped element.

In [25]:
stack = []

stack.append(10)
stack.append(20)
stack.append(30)

while stack:
    popped_element = stack.pop()
    print("Popped element:", popped_element)

Popped element: 30
Popped element: 20
Popped element: 10